
//экранируем введенную строку и получаем ее записываю в переменную модел
$model = mysql_real_escape_string($_REQUEST['model']);  
//в переменную записываем выборку из таблицы
$sql = "SELECT * FROM technics WHERE Description LIKE '%".$model."%'";
//mysql_query — Посылает запрос MySQL
$r_query = mysql_query($sql);
//выдаем результат через цикл
//mysql_fetch_array — Обрабатывает ряд результата запроса, возвращая ассоциативный массив, численный массив или оба
while ($row = mysql_fetch_array($r_query)){ 
echo '
		<div>
			<img src=".$row[Image]" />
			<span>'.$row['model'];</span>		
			<div>'.$row[Price]'</div>
		</div>
';  
} 

