<header class="header">
    <div class="header-block header__block">
        <div class="logo">
            <img src="/src/img/MDHC-logo.png" alt="logo" class="logo__img">
        </div>
        <div class="menu">
           <nav class="menu-nav menu__nav">
               <ul class="menu-list menu__list">
                   <li class="menu-list__item">
                       <a href="#" class="menu-list__item-link">
                            Dashboard
                       </a>
                    </li>
                    <li class="menu-list__item">
                        <a href="#" class="menu-list__item-link">
                            My Task
                        </a>
                    </li>
                   <li class="menu-list__item menu-list__item_active">
                       <a href="#" class="menu-list__item-link">
                            Reports <span class="menu-list__item-span"></span>
                            <ul class="menu-submenu">
                                <li class="menu-submenu__item">
                                    <a href="#" class="menu-submenu__item-link">Credits Issued</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="#" class="menu-submenu__item-link">Credits Issued</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="#" class="menu-submenu__item-link">Credits Issued</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="#" class="menu-submenu__item-link">Credits Issued</a>
                                </li>
                            </ul>
                       </a>
                    </li>
                   <li class="menu-list__item menu-list__item_active">
                       <a href="#" class="menu-list__item-link">
                            Allocation Pools <span class="menu-list__item-span"></span>
                            <ul class="menu-submenu">
                                <li class="menu-submenu__item">
                                    <a href="#" class="menu-submenu__item-link">Credits Issued</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="#" class="menu-submenu__item-link">Credits Issued</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="#" class="menu-submenu__item-link">Credits Issued</a>
                                </li>
                                <li class="menu-submenu__item">
                                    <a href="#" class="menu-submenu__item-link">Credits Issued</a>
                                </li>
                            </ul>
                       </a>
                    </li>
               </ul>
           </nav>
        </div>
    </div>
</header>