.calculator {
	&-wrap {
		display: flex;
		flex-wrap: wrap; 
		width: 100%;
		&__left {
			flex-basis: 70%;
		}
		&__right {
			flex-basis: 30%;
		}
	}
	&-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		&-primary {
			@include regular;
			font-weight: normal;
			text-align: center;
			margin-top: 50px;
			margin-bottom: 30px;
			font-size: 30px;
			display: block;
		}
		&-subtitle {
			@include light;
			font-size: 14px;
			text-align: center;
			margin-bottom: 50px;
			max-width: 550px;
			align-self: center;
		}
		&__wrap {
			align-self: center;
			max-width: 800px;
		}
		
	}
	&__title {
		margin-bottom: 80px;
	}
	&-btn {
		&-wrap {
			display: flex;
			justify-content: center;
			margin-bottom: 100px;
			margin-top: 120px;
			position: relative;
			&:after {
				position: absolute;
				content: "";
				display: block;
				height: 2px;
				width: 60%;
				left: 20%;
				right: 20%;
				bottom: -30px;
				background-color: $primary;
			}
		}
		&-wrapper {
			display: flex;
			justify-content: center;
		}
	}
	&-block {
		&__title {
			font-size: 24px;
			position: relative;
			color: $primary;
			@include regular;
			&:after {
				position: absolute;
				content: '';
				display: block;
				width: 600px;
				bottom: -10px;
				left: 0;
				right: 0;
				background-color: $primary;
				height: 2px;
			}
		}
		&__input {
			margin-top: 30px;
			font-size: 14px;
			text-align: center;
			margin-bottom: 40px;
			&-input {
				max-width: 67px;
				border-radius: 5px;
				height: 22px;
				background-color: rgba($primary, 0.27);
				border-color: rgba($primary, 0.27);
			}
		}
		&__checkboxs {
			position: relative;
			margin-bottom: 90px;
		}
		&__wrap {
			position: relative;
			display: flex;
			justify-content: center;
			&-img {
				width: 181px;
				height: 99px;
			}
		}
	}

	&__table {
		margin-bottom: 50px;
	}
	&_btn {
		background-color: $primary;
		color: #fff;
		font-size: 24px;
		position: relative;
	}
	&__link {
		&-stamp {
			@include medium;
			font-size: 24px;
			color: $primary;
			text-decoration: none;
			margin-right: 20px;
			position: relative;
			margin-bottom: 100px;
			&:before {
				position: absolute;
				content: '';
				right: -50px;
				top: 6px;
				display: block;
				width: 25px;
				height: 25px;
				background: url("../img/calculator/arrow-up-circle.svg");
			}
			&:after {
				content: '';
				position: absolute;
				top: 50px;
				right: 0;
				left: -40px;
				display: block;
				background-color: $primary;
				width: 360px;
				height: 2px;
			}
		}
	}
	&-text {
		&-wrap {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 100px;
		}
	}
	&-item__text {
		text-align: center;
		flex: 30%;
		margin-right: 30px;
		font-size: 18px;
		@include regular;
		&:last-child {
			margin-right: 0;
		}
	}
	&-more {
		display: block;
		margin-top: 20px;
		font-size: 14px;
		text-decoration: none;
		@include light;
		color: #000;
	}
	&-input {
		&__label {
			&-label {
				display: block;
			}
		}
	}
	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 110px;
		&__item {
			position: relative;
			flex-basis: 50%;	
			&-img {
				width: 171px;
				height: 178px;
			}
		}
	}
	&-checkbox {
		&-position {
			position: absolute;
			left: 0;
			top: -20px;
		}
	}
	&__door {
		margin-top: 30px;
		padding-left: 30px;
	}
	&-door {
		position: relative;
		&-img {
			width: 120px;
			height: 178px;
		}
	}
	&__window {
		margin-top: 30px;
	}
	&-window {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&__item {
			position: relative;
			&-img {
				width: 154px;
				height: 147px;
			}
		}
	}
}

.absoulute-floor-1 {
	position: absolute;
	top: -15px;
	right: 100px;
}

.absoulute-floor-2 {
	position: absolute;
	top: 30px;
	right: 100px;
	display: none;
}

.absoulute-floor-3 {
	position: absolute;
	top: 73px;
	right: 100px;
	display: none;	
}


.absolute-2 {
	position: absolute;
	right: 153px;
	top: 120px;
}

.absolute-3 {
	position: absolute;
	bottom: -37px;
	left: 23px;
}

.absolute-4 {
	position: absolute;
	bottom: -37px;
	left: 18px;
}

.absolute-5 {
	position: absolute;
	bottom: -37px;
	left: 130px;
}

.absolute-6 {
	position: absolute;
	right: 10px;
	top: 30px;
}

.absolute-7 {
	position: absolute;
	right: 54px;
	top: 80px;
}

.absolute-8 {
	position: absolute;
	right: 54px;
	top: 130px;
}

.absolute-9 {
	position: absolute;
	right: 0px;
	top: 10px;
}

.absolute-10 {
	position: absolute;
	left: 130px;
	top: 100px;
}

.absolute-11 {
	position: absolute;
	left: 50px;
	bottom: -40px;
}

.absolute-12 {
	position: absolute;
	left:  160px;
	top: 50px;
}

.absolute-13 {
	position: absolute;
	left:  160px;
	top: 30px;
}

.absolute-14 {
	position: absolute;
	left: 30px;
	bottom: -40px;
}

.absolute-15 {
	position: absolute;
	left:  160px;
	top: 30px;
}

.absolute-16 {
	position: absolute;
	left: 30px;
	bottom: -40px;
}

.absolute-17 {
	position: absolute;
	left:  160px;
	top: 30px;
}

.absolute-18 {
	position: absolute;
	left: 30px;
	bottom: -40px;
}

.img-size {
	width: 270px;
	height: 178px;
}

._notmb {
	margin-bottom: 0;
}

._size-after {
	&:after {
		content: "";
		position: absolute;
		display: block;
		height: 2px;
		background-color: $primary;
		width: 100%;
	}
	
}

._position-left {
	position: absolute;
	left: 0;
	top: 30px;
}
._position-right {
	position: absolute;
	left: 120px;
	top: 30px;
}

._span-1 {
	position: absolute;
	top: 30px;
	left: 30px;
}

._span-2 {
	position: absolute;
	top: 30px;
	left: 150px;
}

._margin-left {
	margin-left: 5%;
	flex-basis: 65%;
}

._mb {
	margin-bottom: 100px;
}