.header {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
	}
	&__menu {
		background-color: $primary;
		&_active {
			display: flex!important;
		}
	}
	
}

.info {
	&-block {
		display: flex;
		align-items: center;
		&__number {
			padding-top: 12px;
			position: relative;
		}
		&__phone {
			text-decoration: none;
			color: #000;
			@include regular;
			font-size: 24px;
			position: relative;
			max-width: 263px;
			margin-left: 15px;
			&-current {
				position: absolute;
				right: -30px;
				top: 60%;
				margin-top: -3px;
				&:hover {
					cursor: pointer;
				}
			}
		}
		&__btn {
			margin-left: 58px;
		}
		&__button {
			border: none;
			padding: 12px 12px 12px 9px;
			color: #fff;
			@include regular;
			text-align: center;
			font-size: 24px;
			background-color: $primary;
			border-radius: 5px;
			text-transform: uppercase;
			text-decoration: none;
			&:hover {
				cursor: pointer;
			}
			&-img {
				height: 23px;
				width: 23px;
				margin-right: 12px;
				margin-top: -4px;
				vertical-align: middle;
			}
		}
	}
	&-list {
		list-style: none;
		position: absolute;
		top: 52px;
		left: 0px;
		background-color: #fff;
		z-index: 10;
		text-align: center;
		width: 270px;
		display: none;
		transition: .5s ease-out;
		&_active {
			display: block;
		}
		&__item {
			margin-bottom: 10px;
			&-link {
				font-size: 24px;
				text-decoration: none;
				color: #000;
				background-color: #fff;
			}
		}
	}
}

.menu {
	&-list {
		position: relative;
		&__link {
			color: #fff;
			@include regular; 
			font-size: 24px;
			text-decoration: none;
			text-transform: uppercase;
			&:visited {
				text-decoration: underline;
			}
		}
		&__item {
			padding: 17px 0;
			position: relative;
			&:hover {
				.menu-list__item-dropdown {
					display: block;
					left: 0px;
					z-index: 10;
					@media screen and (max-width: 768px) {
						display: none;
					}
				}
			}
			&-dropdown {
				position: absolute;
				left: -9999px;
				padding: 0;
				margin: 0;
				list-style: none;
				min-width: 250px;
				&__item {
					padding: 7px 0;
					background-color: $primary;
					border-bottom: 1px solid #fff;
					&:first-child {
						border-top: 1px solid #fff;
					}
					.menu-list__link {
						font-size: 14px;
					}
				}
			}
		}
	}
	&__list {
		list-style: none;
		display: flex;
		justify-content: space-around;
		margin: 0;
	}
}

.burger {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	&-link {
		display: block;
		&_active {
			span {
				height: 0;
				transition: 0.2s;
				&:after {
					transform: rotate(45deg);
					transition: 0.2s
				}
				&:before {
					transform: rotate(-45deg);
					transition: 0.2s
				}
			}
		}
	}
	&-span {
		display: block;
		height: 3px;
		width: 40px;
		background-color: $primary;
		position: relative;
		transition: 0.2s;
		&_active {
			height: 0;
			&:after {
				transform: rotate(45deg);
			}
			&:before {
				transform: rotate(-45deg);
			}
		}
		&:before, &:after {
			content: "";
			height: 3px;
			width: 40px;
			position: absolute;
			display: block;
			background-color: $primary;
		}
		&:before {
			transform: translateY(-10px);
		}
		&:after {
			transform: translateY(10px);
		}
	}
}

@media (max-width: 991px) {
	.info {
		&-block {
			&__number {
				display: none;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__menu {
			display: none;
		}
	}
	.info {
		&-block {
			&__button {
				&-img {
					display: none;
				}
			}
			&__btn {
				margin-left: 0;
				margin-right: 20px;
			}
		}
	}
	.menu {
		&__list {
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}
		&-list {
			&__item {
				&-dropdown {
					display: none;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.burger {
		display: none;
	}
}

@media (max-width: 575px) {
	.header {
		&__img {
			width: 120px;
		}
	}
	.info {
		&-block {
			&__button {
				font-size: 14px;
			}
			&__btn {
				display: none;
			}
		}
	}
	.house {
		&__text {
			font-size: 18px;
		}
	}

}