@use "../fonts";
@use "../variables";

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	display: none;

	&__title {
		padding-top: 32px;
		margin-bottom: 40px;
		font-size: 18px;
		text-transform: uppercase;
		color: variables.$primary;
	}
	&-form {
		&-wrap {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
	&__input, &__submit {
		max-width: 360px;
		text-align: center;
	}
	&__input {
		padding: 20px;
		margin-bottom: 14px;
		border-radius: 10px;
		outline: none;
		border: none;
		background-color: rgba(#000, 0.2);
		&::placeholder {
			color: #000;
		}
	}
	&__span {
		margin-top: 6px;
		margin-bottom: 20px;
		@include fonts.light;
	}
	&__submit {
		background-color: variables.$primary;
		color: #fff;
		text-transform: uppercase;
		font-size: 22px;
		border-radius: 10px;
	}
	&__close {
		display: block;
		position: absolute;
		top: -30px;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		&-wrap {
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
	&-span {
		&__btn {
			position: absolute;
			top: 50%;
			margin-top: -3px;
			left: 50%;
			margin-left: -15px;
			height: 3px;
			background-color: variables.$primary;
			width: 30px;
			display: block;
			transform: rotate(45deg);
			&:after {
				content: '';
				height: 3px;
				width: 30px;
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -3px;
				left: 50%;
				margin-left: -15px;
				transform: rotate(90deg);
				background-color: variables.$primary;
			}
		}
	}
	&-forms {
		max-width: 490px;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		&-title {	
			@include fonts.medium;
			font-size: 24px;
			color: variables.$primary;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		&__input {
			// background-color: lighten(#484747, 0.76);	
			// background-color: rgba(#484747, 24);
			background-color: rgba(72,71,71, 0.24);
			max-width: 400px;
			width: 100%;
			text-align: center;
			padding: 20px 0;
			margin-top: 20px;
			border: none;
			border-radius: 15px;
			outline: none;
			&::placeholder {
				color: rgba(0,0,0,0.7);
				font-size: 18px;
				@include fonts.light;
			}
			&:first-child {
				margin-top: 0;
			}
		}
		&__subtitle {
			color: #000;
			@include fonts.light;
			font-size: 18px;
			text-align: center;
			display: block;
			margin-bottom: 20px;
		}
		&__submit {
			text-transform: uppercase;
			color: #fff;
			background-color: variables.$primary;
			padding: 15px 12px;
			width: 100%;
			max-width: 169px;
			text-align: center;
			border-radius: 15px;
			border: none;
			font-size: 24px;
			border: 2px solid #a0211e;	
			outline: none;
			&:hover {
				background-color: #fff;
				color: #a0211e;
				border: 2px solid #a0211e;
			}
		}
		&-btn {
			display: flex;
			justify-content: center;
		}
	}
	&-sliders {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&__item {
			max-width: 300px;
 			width: calc((100% - 20px) / 2);
			&:nth-child(2n) {
			margin-left: 20px
			}
			&-img {
				max-width: 250px;
				max-height: 250px;
			}
		}
	}
	&-block {
		max-width: 640px;
		&__wrap {
			display: flex;
			justify-content: center;
			flex-direction: column;
			width: 100%;
		}
	}
	&-main {
		&-text {
			width: 100%;
			max-width: 100%;
			display: block;
			margin-bottom: 30px;
		}
		&-title {
			width: 100%;
			max-width: 100%;
		}
	}
	&-forms {
		&__success {
			display: none;
		}
		&__error {
			display: none;
		}
	}
}

.db {
	display: flex;
	justify-content: center;
	width: 100%;
}

label.error {
	color: red;
	border: none;
}

.error {
	border: 2px solid red;
	&::placeholder {
		color: red;
	}
}


@media screen and (max-width: 576px) {
	.modal-sliders {
		flex-direction: column;
	}
	.modal-sliders__item {
		width: 100%;
	}
	.modal-sliders__item:nth-child(2n) {
		margin-left: 0;
	}
}